.book-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.book-list {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
}