@import url('https://fonts.googleapis.com/css?family=Megrim|Spectral');
.flex-row {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-center {
	justify-content: center;
	align-items: center;
}
.flex-wrap {
	flex-wrap: wrap;
}
body, html {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: rgba(255,255,255,1);
	font-family: 'Spectral', serif;
	font-size: 1em;
}
#app > * {
	width: 100%;
}
#footer {
	font-size: 1.3em;
	text-align: center;
	color: rgba(0,0,0,1);
	margin-top: 25px;
}
#footer > p > a {
	color: rgba(0,0,0,1);
	padding: 0px 5px;
	border-radius: 10px;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}
#footer > p > a:visited {
	color: rgba(0,0,0,1);
}
#footer > p > a:hover {
	background-color: rgba(95,255,95,1);
}
div, section {
	margin: 0;
	padding: 0;
}
h1 {
	margin: 2px 5px;
	padding: 0;
	font-size: 2em;
}
p {
	margin: 2px 5px;
	padding: 0;
}
#main {

}
#header {
	font-size: 3.8em;
	padding: 30px 0px;
	background-color: rgba(95,255,95,1);
	font-family: 'Megrim', cursive;
	color: rgba(255,255,255,1);
	width: 100%;
}
#header > h1 {
	line-height: 0.7em;
}
#main-content {
	color: rgba(0,0,0,1);
	width: 100%;
}
#todo {
	width: 100%;
	max-width: 1260px;
	padding: 15px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}
#todo > p {
	margin: 10px 5px;
	min-width: 30%;
	max-width: 390px;
	padding: 25px 10px;
	box-shadow: -10px 2px 0px rgba(95,255,95,1);
	border-radius: 10px;
	font-size: 1.5em;
}
#login-btn {
	font-weight: 900;
	padding: 25px 50px;
	margin: 0;
	font-size: 3em;
	text-decoration: none;
	color: rgba(0,0,0,1);
	border-radius: 10px;
	background-color: rgba(95,255,95,1);
	transition: all 0.5s ease-in-out;
	animation-name: wiggle;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}
#login-btn:visited {
	color: rgba(255,255,255,1);
}
#login-btn:hover {
	box-shadow: -5px 0px 0px rgba(50,130,255,0.6), 5px 0px 0px rgba(50,130,255,0.6);
}
#login-btn:active {
}

@keyframes wiggle {
	94% {
		transform: rotate(0deg);
	}
	96% {
		transform: rotate(-2deg);
	}
	98% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(0deg);
	}
}